@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>SuperSubtitles</b></h1>
    <hr />
    <p class="lead">RAUPJC - Projekt - Vedran Biđin - 31.1.2016.</p>
    <p><a href="https://github.com/vbidin/Vjestina-2015-Projekt" class="btn btn-primary btn-lg">GitHub</a></p>
</div>