@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1><b>SuperSubtitles</b></h1>
    <hr />
    <p>RAUPJC Projekt</p>
    <p><a href="https://github.com/vbidin/Vjestina-2015-Projekt">GitHub</a></p>
</div>