@model SuperSubtitles.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <h3>Change your account settings:</h3>
    <hr />
    <div>
        @Html.ActionLink("Change your password", "ChangePassword")
    </div>
</div>
